<!--
    Date of creation: 5/II/2018
    Application created by: Miguel Angel Rodriguez <duckfrost@theconstructsim.com>
    The Construct http://www.theconstructsim.com
    License LGPLV3 << Basically means you can do whatever you want with this!
-->

<launch>
    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find mrm_training)/config/predicting_params.yaml" />

    <!-- launch the controllers -->
    <node name="joints_controller" pkg="mrm_training" type="joints_controller.py" />

    <!-- Launch the training system -->
    <node pkg="mrm_training" name="load_target" type="start_predicting_half.py" output="screen"/>

    <param name="robot_description60" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate60.xacro'" />
    <param name="robot_description70" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate70.xacro'" />
    <param name="robot_description85" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate85.xacro'" />
    <param name="robot_description90" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate90.xacro'" />
    <param name="robot_description100" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate100.xacro'" />
    <param name="robot_description110" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate110.xacro'" />
    <param name="robot_description120" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/pirate120.xacro'" />

</launch>
