<!--
    Date of creation: 5/II/2018
    Application created by: Miguel Angel Rodriguez <duckfrost@theconstructsim.com>
    The Construct http://www.theconstructsim.com
    License LGPLV3 << Basically means you can do whatever you want with this!
-->

<launch>
    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find mrm_training)/config/training_params.yaml" />

    <!-- launch the controllers -->
    <node name="joints_controller" pkg="mrm_training" type="joints_controller.py" />

    <!-- Launch the training system -->
    <node pkg="mrm_training" name="mrm_gym" type="start_training.py" output="screen"/>

</launch>
